In [2]:
# Creation of the table
1. From sql alchemy

SyntaxError: invalid syntax (<ipython-input-2-f5f860563d24>, line 2)

In [3]:
import pandas as pd

In [4]:
from sqlalchemy import create_engine

In [5]:
sqlitedb_path = '/Users/luisdemiguel/Desktop/Ironhack/data-project-template/data/raw_data_project_m1.db'

In [6]:
engine = create_engine(f'sqlite:///{sqlitedb_path}')

In [7]:
# list all tables in database
raw_data = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", engine)

In [8]:
raw_data

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

In [14]:
country_info = pd.read_sql_query("select * from country_info", engine)
country_info.head()

                                   uuid country_code        rural
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2  83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3  15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4  24954a70-db98-0133-4a64-0a81e8b09a82           AT         city

In [15]:
career_info = pd.read_sql_query("select * from career_info", engine)
career_info.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f

In [18]:
merge_info = pd.merge(country_info, career_info,
                           how='left', on='uuid')

filtered_info = merge_info[["country_code", "normalized_job_code"]]

In [19]:
filtered_info.head()

  country_code               normalized_job_code
0           AT                              None
1           AT  861a9b9151e11362eb3c77ca914172d0
2           AT                              None
3           AT  049a3f3a2b5f85cb2971ba77ad66e10c
4           AT  f4b2fb1aa40f661488e2782b6d57ad2f