In [2]:
# Creation of the table
1. From sql alchemy

SyntaxError: invalid syntax (<ipython-input-2-f5f860563d24>, line 2)

In [3]:
import pandas as pd

In [4]:
from sqlalchemy import create_engine

In [5]:
sqlitedb_path = '/Users/luisdemiguel/Desktop/Ironhack/data-project-template/data/raw_data_project_m1.db'

In [6]:
engine = create_engine(f'sqlite:///{sqlitedb_path}')

In [7]:
# list all tables in database
raw_data = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", engine)

In [8]:
raw_data

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

In [14]:
country_info = pd.read_sql_query("select * from country_info", engine)
country_info.head()

                                   uuid country_code        rural
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2  83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3  15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4  24954a70-db98-0133-4a64-0a81e8b09a82           AT         city

In [15]:
career_info = pd.read_sql_query("select * from career_info", engine)
career_info.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f

In [85]:
personal_info = pd.read_sql_query("select * from personal_info", engine)
personal_info.head()

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65

In [160]:
between_info = pd.merge(country_info, career_info,
                           how='inner', on='uuid')

merge_info = pd.merge(between_info, personal_info,
                           how='inner', on='uuid')

filtered_info = merge_info[["uuid", "country_code", "normalized_job_code", "gender"]]

In [161]:
filtered_info.head()

,uuid,country_code,normalized_job_code,gender
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,None,male
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,861a9b9151e11362eb3c77ca914172d0,male
2,83127080-da3d-0133-c74f-0a81e8b09a82,AT,None,male
3,15626d40-db13-0133-ea5c-0a81e8b09a82,AT,049a3f3a2b5f85cb2971ba77ad66e10c,Male
4,24954a70-db98-0133-4a64-0a81e8b09a82,AT,f4b2fb1aa40f661488e2782b6d57ad2f,Fem

In [162]:
rename_database = filtered_info.rename(columns={"normalized_job_code": "job"})
rename_database

,uuid,country_code,job,gender
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,None,male
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,861a9b9151e11362eb3c77ca914172d0,male
2,83127080-da3d-0133-c74f-0a81e8b09a82,AT,None,male
3,15626d40-db13-0133-ea5c-0a81e8b09a82,AT,049a3f3a2b5f85cb2971ba77ad66e10c,Male
4,24954a70-db98-0133-4a64-0a81e8b09a82,AT,f4b2fb1aa40f661488e2782b6d57ad2f,Fem
...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,SK,847165cfda6b1dc82ae22b967da8af2f,FeMale
9645,39f989f0-db52-0133-8482-0a81e8b09a82,SK,a4d5b8b38f9513825d0d94a981ebe962,Male
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,SK,None,male
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,SK,775190277a849cba701b306a7b374c0a,male
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,SK,8a7a3f1bce0958ae9f090683e5a925b7,FeMale

In [163]:
#now we start with the part of apis

In [164]:

import requests

response = requests.get('http://api.dataatwork.org/v1/jobs/autocomplete?contains=data')

json_data = response.json()

In [165]:
data_api = pd.DataFrame(json_data)
data_api.head()

,uuid,suggestion,normalized_job_title,parent_uuid
0,8fd068c8d9be73abfa678856177b6c40,Data Operations Director,data operations director,bb4e5066e69e4228172b4850d2a920f4
1,ac47656fd51c2cd8037057262c910dc4,Data Processing Manager,data processing manager,bb4e5066e69e4228172b4850d2a920f4
2,800b621aab5dac18f4caef621fa43a49,Data Systems Manager,data systems manager,bb4e5066e69e4228172b4850d2a920f4
3,3833bd699e7afe4665b595f282da0387,Database Development and Administration Projec...,database development and administration projec...,bb4e5066e69e4228172b4850d2a920f4
4,e2f68bf748aea2c7d2254550c0c92b23,Director of Data Operations,director of data operations,bb4e5066e69e4228172b4850d2a920f4

In [166]:
rename_api = data_api.rename(columns={"uuid": "job"})
rename_api

,job,suggestion,normalized_job_title,parent_uuid
0,8fd068c8d9be73abfa678856177b6c40,Data Operations Director,data operations director,bb4e5066e69e4228172b4850d2a920f4
1,ac47656fd51c2cd8037057262c910dc4,Data Processing Manager,data processing manager,bb4e5066e69e4228172b4850d2a920f4
2,800b621aab5dac18f4caef621fa43a49,Data Systems Manager,data systems manager,bb4e5066e69e4228172b4850d2a920f4
3,3833bd699e7afe4665b595f282da0387,Database Development and Administration Projec...,database development and administration projec...,bb4e5066e69e4228172b4850d2a920f4
4,e2f68bf748aea2c7d2254550c0c92b23,Director of Data Operations,director of data operations,bb4e5066e69e4228172b4850d2a920f4
...,...,...,...,...
151,00bff17fca67555d8d86e8ead86dcd70,Database Analyst,database analyst,b90ca4df5690002377a7b0f1f3d40781
152,f1fb62e4c97f4f5cd5001877cb94379e,Data Processor,data processor,344aba9dcfa11889b5ae926bfab624e8
153,05bb9a333a66d6eb151e253623efe1c0,Data Entry Clerk,data entry clerk,bf88358c56bb6cbe7eabec38ae333d19
154,bdf4dcd92089bc17345de83f4d06090f,Data Entry Operator,data entry operator,bf88358c56bb6cbe7eabec38ae333d19
155,eb3d789747d52df803ce63fe37bf53e9,Data Analyst,data analyst,325e2251e20170928426473156bd3c48

In [167]:
#merge both data

merge_api = pd.merge(rename_database, rename_api,
                           how='inner', on='job')

data_plus_api = merge_api[["uuid", "country_code", "suggestion", "gender"]]

In [168]:
data_plus_api

,uuid,country_code,suggestion,gender
0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,Automatic Data Processing Planner,male
1,cf24ed60-da3f-0133-0034-0a81e8b09a82,AT,Automatic Data Processing Planner,FeMale
2,9ffc7390-dba5-0133-259b-0a81e8b09a82,BE,Automatic Data Processing Planner,male
3,a6361230-da58-0133-cd5a-0a81e8b09a82,BE,Automatic Data Processing Planner,Male
4,1e2b4750-d987-0133-3c7c-0a81e8b09a82,BG,Automatic Data Processing Planner,female
...,...,...,...,...
5697,1cb1aac0-d94c-0133-8baa-0a81e8b09a82,IT,Data Capture Clerk,male
5698,c8c33390-da69-0133-063a-0a81e8b09a82,PL,Data Capture Clerk,male
5699,d27d24d0-d9b1-0133-03d4-0a81e8b09a82,PL,Data Capture Clerk,male
5700,529f3080-d99a-0133-1b7b-0a81e8b09a82,PT,Data Capture Clerk,male
5701,0349c9d0-d9a1-0133-a38c-0a81e8b09a82,PT,Data Capture Clerk,Male

In [169]:
#how to drop na
dropped_table = data_plus_api.fillna(0)

In [170]:
dropped_table

,uuid,country_code,suggestion,gender
0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,Automatic Data Processing Planner,male
1,cf24ed60-da3f-0133-0034-0a81e8b09a82,AT,Automatic Data Processing Planner,FeMale
2,9ffc7390-dba5-0133-259b-0a81e8b09a82,BE,Automatic Data Processing Planner,male
3,a6361230-da58-0133-cd5a-0a81e8b09a82,BE,Automatic Data Processing Planner,Male
4,1e2b4750-d987-0133-3c7c-0a81e8b09a82,BG,Automatic Data Processing Planner,female
...,...,...,...,...
5697,1cb1aac0-d94c-0133-8baa-0a81e8b09a82,IT,Data Capture Clerk,male
5698,c8c33390-da69-0133-063a-0a81e8b09a82,PL,Data Capture Clerk,male
5699,d27d24d0-d9b1-0133-03d4-0a81e8b09a82,PL,Data Capture Clerk,male
5700,529f3080-d99a-0133-1b7b-0a81e8b09a82,PT,Data Capture Clerk,male
5701,0349c9d0-d9a1-0133-a38c-0a81e8b09a82,PT,Data Capture Clerk,Male

In [171]:
dropped_table.loc[~(dropped_table==0).all(axis=1)]

,uuid,country_code,suggestion,gender
0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,Automatic Data Processing Planner,male
1,cf24ed60-da3f-0133-0034-0a81e8b09a82,AT,Automatic Data Processing Planner,FeMale
2,9ffc7390-dba5-0133-259b-0a81e8b09a82,BE,Automatic Data Processing Planner,male
3,a6361230-da58-0133-cd5a-0a81e8b09a82,BE,Automatic Data Processing Planner,Male
4,1e2b4750-d987-0133-3c7c-0a81e8b09a82,BG,Automatic Data Processing Planner,female
...,...,...,...,...
5697,1cb1aac0-d94c-0133-8baa-0a81e8b09a82,IT,Data Capture Clerk,male
5698,c8c33390-da69-0133-063a-0a81e8b09a82,PL,Data Capture Clerk,male
5699,d27d24d0-d9b1-0133-03d4-0a81e8b09a82,PL,Data Capture Clerk,male
5700,529f3080-d99a-0133-1b7b-0a81e8b09a82,PT,Data Capture Clerk,male
5701,0349c9d0-d9a1-0133-a38c-0a81e8b09a82,PT,Data Capture Clerk,Male

In [172]:
#aqui empieza la parte de web scrapping

In [189]:
import requests
site = requests.get("https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes")
site.content

b'\xef\xbb\xbf<!DOCTYPE html>\n<html lang="en" dir="ltr" class="client-nojs">\n<head>\n<meta http-equiv="X-UA-Compatible" content="Ie=Edge,chrome=1"/> <meta charset="UTF-8" /><title>Glossary:Country codes - Statistics Explained</title>\n<meta name="generator" content="MediaWiki 1.22.5" />\n<link rel="shortcut icon" href="https://ec.europa.eu/eurostat/estat-theme/images/favicon.ico" />\n<link rel="search" type="application/opensearchdescription+xml" href="/eurostat/statistics-explained/opensearch_desc.php" title="Statistics Explained (en)" />\n<link rel="EditURI" type="application/rsd+xml" href="https://ec.europa.eu/eurostat/statistics-explained/api.php?action=rsd" />\n<link rel="alternate" type="application/atom+xml" title="Statistics Explained Atom feed" href="/eurostat/statistics-explained/index.php?title=Special:RecentChanges&amp;feed=atom" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=ext.rtlcite&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=mediawiki.legacy.commonPrint&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=mediawiki.legacy.shared&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=skins.statexpflat&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<meta name="ResourceLoaderDynamicStyles" content="" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=site&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<style>a:lang(ar), a:lang(ckb), a:lang(kk-arab), a:lang(mzn), a:lang(ps), a:lang(ur) { text-decoration: none; }</style>\n\n<script src="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=startup&amp;only=scripts&amp;skin=statexpflat&amp;*"></script>\n<script>if(window.mw){\nmw.config.set( {\n    "wgCanonicalNamespace": "Glossary",\n    "wgCanonicalSpecialPageName": false,\n    "wgNamespaceNumber": 100,\n    "wgPageName": "Glossary:Country_codes",\n    "wgTitle": "Country codes",\n    "wgCurRevisionId": 479715,\n    "wgRevisionId": 479715,\n    "wgArticleId": 1994,\n    "wgIsArticle": true,\n    "wgIsRedirect": false,\n    "wgAction": "view",\n    "wgUserName": null,\n    "wgUserGroups": [\n        "*"\n    ],\n    "wgCategories": [\n        "Geography glossary",\n        "Glossary"\n    ],\n    "wgBreakFrames": false,\n    "wgPageContentLanguage": "en",\n    "wgPageContentModel": "wikitext",\n    "wgSeparatorTransformTable": [\n        "",\n        ""\n    ],\n    "wgDigitTransformTable": [\n        "",\n        ""\n    ],\n    "wgDefaultDateFormat": "dmy",\n    "wgMonthNames": [\n        "",\n        "January",\n        "February",\n        "March",\n        "April",\n        "May",\n        "June",\n        "July",\n        "August",\n        "September",\n        "October",\n        "November",\n        "December"\n    ],\n    "wgMonthNamesShort": [\n        "",\n        "Jan",\n        "Feb",\n        "Mar",\n        "Apr",\n        "May",\n        "Jun",\n        "Jul",\n        "Aug",\n        "Sep",\n        "Oct",\n        "Nov",\n        "Dec"\n    ],\n    "wgRelevantPageName": "Glossary:Country_codes",\n    "wgIsProbablyEditable": false,\n    "wgRestrictionEdit": [],\n    "wgRestrictionMove": [],\n    "wgWikiEditorEnabledModules": {\n        "toolbar": true,\n        "dialogs": false,\n        "hidesig": true,\n        "templateEditor": false,\n        "templates": false,\n        "preview": false,\n        "previewDialog": false,\n        "publish": false,\n        "toc": false\n    },\n    "wgCategoryTreePageCategoryOptions": "{\\"mode\\":0,\\"hideprefix\\":20,\\"showcount\\":true,\\"namespaces\\":false}"\n} );\n}</script><script>if(window.mw){\nmw.loader.implement( "user.options", function () {\nmw.user.options.set( {\n    "ccmeonemails": 0,\n    "cols": 80,\n    "date": "default",\n    "diffonly": 0,\n    "disablemail": 0,\n    "disablesuggest": 0,\n    "editfont": "default",\n    "editondblclick": 0,\n    "editsection": 1,\n    "editsectiononrightclick": 0,\n    "enotifminoredits": 0,\n    "enotifrevealaddr": 0,\n    "enotifusertalkpages": 1,\n    "enotifwatchlistpages": 1,\n    "extendwatchlist": 0,\n    "fancysig": 0,\n    "forceeditsummary": 0,\n    "gender": "unknown",\n    "hideminor": 0,\n    "hidepatrolled": 0,\n    "imagesize": 2,\n    "justify": 0,\n    "math": 6,\n    "minordefault": 0,\n    "newpageshidepatrolled": 0,\n    "nocache": 0,\n    "noconvertlink": 0,\n    "norollbackdiff": 0,\n    "numberheadings": 0,\n    "previewonfirst": 0,\n    "previewontop": 1,\n    "rcdays": 7,\n    "rclimit": 50,\n    "rememberpassword": 0,\n    "rows": 25,\n    "searchlimit": 20,\n    "showhiddencats": 0,\n    "shownumberswatching": 1,\n    "showtoc": 1,\n    "showtoolbar": 1,\n    "skin": "statexpflat",\n    "stubthreshold": 0,\n    "thumbsize": 2,\n    "underline": 2,\n    "uselivepreview": 0,\n    "usenewrc": 0,\n    "vector-simplesearch": 1,\n    "watchcreations": 0,\n    "watchdefault": 0,\n    "watchdeletion": 0,\n    "watchlistdays": 3,\n    "watchlisthideanons": 0,\n    "watchlisthidebots": 0,\n    "watchlisthideliu": 0,\n    "watchlisthideminor": 0,\n    "watchlisthideown": 0,\n    "watchlisthidepatrolled": 0,\n    "watchmoves": 0,\n    "wllimit": 250,\n    "useeditwarning": 1,\n    "prefershttps": 1,\n    "flaggedrevsstable": 1,\n    "usebetatoolbar": 1,\n    "mathJax": true,\n    "language": "en",\n    "variant-gan": "gan",\n    "variant-iu": "iu",\n    "variant-kk": "kk",\n    "variant-ku": "ku",\n    "variant-shi": "shi",\n    "variant-sr": "sr",\n    "variant-tg": "tg",\n    "variant-uz": "uz",\n    "variant-zh": "zh",\n    "searchNs0": true,\n    "searchNs1": false,\n    "searchNs2": false,\n    "searchNs3": false,\n    "searchNs4": false,\n    "searchNs5": false,\n    "searchNs6": false,\n    "searchNs7": false,\n    "searchNs8": false,\n    "searchNs9": false,\n    "searchNs10": false,\n    "searchNs11": false,\n    "searchNs12": false,\n    "searchNs13": false,\n    "searchNs14": false,\n    "searchNs15": false,\n    "searchNs100": false,\n    "searchNs101": false,\n    "searchNs104": false,\n    "searchNs105": false,\n    "searchNs108": false,\n    "searchNs110": false,\n    "searchNs111": false,\n    "searchNs112": false,\n    "searchNs113": false,\n    "searchNs114": false,\n    "searchNs120": false,\n    "searchNs121": false,\n    "searchNs122": false,\n    "searchNs123": false,\n    "searchNs124": false,\n    "searchNs125": false,\n    "searchNs126": false,\n    "searchNs127": false,\n    "searchNs128": false,\n    "searchNs129": false,\n    "searchNs130": false,\n    "searchNs131": false,\n    "searchNs132": false,\n    "searchNs133": false,\n    "searchNs134": false,\n    "searchNs135": false,\n    "searchNs154": false,\n    "searchNs155": false,\n    "variant": "en"\n} );\n}, {}, {} );\n}</script>\n<script>if(window.mw){\nmw.loader.implement( "user.tokens", function () {\nmw.user.tokens.set( {\n    "editToken": "+\\\\",\n    "patrolToken": false,\n    "watchToken": false\n} );\n}, {}, {} );\n}</script>\n<script>if(window.mw){\nmw.loader.load(["mediawiki.page.startup","mediawiki.legacy.wikibits","mediawiki.legacy.ajax"]);\n}</script>\n  <link href="/eurostat/statistics-explained/extensions/EditWarning/style.css" rel="stylesheet" type="text/css" />\n\t\t\t  <script src="/eurostat/statistics-explained/extensions/StatexpVislet/StatexpVislet.js"></script><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="/eurostat/statistics-explained/skins/statexpflat/css/font-awesome-4.6.3/css/font-awesome.min.css"/><link rel="stylesheet" href="/eurostat/statistics-explained/skins/statexpflat/css/statexpflat.css"/><link rel="stylesheet" href="/eurostat/statistics-explained/skins/statexpflat/css/statexpflat-grid.css"/>\n\t\t\t  <script src="/eurostat/statistics-explained/skins/statexpflat/js/modernizr.custom.36138.js"></script>\n\t\t\t  <script src="/eurostat/statistics-explained/skins/statexpflat/js/css3-mediaqueries.js"></script><!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->\n\t\t\t<!--[if lt IE 9]>\n\t\t\t  <script src="/eurostat/statistics-explained/skins/statexpflat/js/html5shiv.min.js"></script>\n\t\t\t  <script src="/eurostat/statistics-explained/skins/statexpflat/js/respond.min.js"></script>\n\t\t\t<![endif]--></head>\n<body class="mediawiki ltr sitedir-ltr ns-100 ns-subject page-Glossary_Country_codes skin-statexpflat action-view">\n\n<!--\n\n                <div id="fb-root"></div>\n  <script>(function(d, s, id) {\n    var js, fjs = d.getElementsByTagName(s)[0];\n    if (d.getElementById(id)) return;\n    js = d.createElement(s); js.id = id;\n    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";\n    fjs.parentNode.insertBefore(js, fjs);\n  }(document, \'script\', \'facebook-jssdk\'));</script>\n\n-->\n\n<div class="container">\n\n<div class="header" id="se-header">\n\t<div class="grey-stripe"></div>\n\t<div class="flag hidden-xs hidden-sm"></div>\n  <div class="flag-mobile hidden-md hidden-lg"></div>\n\t<ul class="login list-inline hidden-xs hidden-sm">\n<li><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Tutorial:Help_for_readers\n">Tutorials</a></li>\n\n\t\t\t<li><a href="/eurostat/statistics-explained/index.php?title=Special:UserLogin&amp;returnto=Glossary%3ACountry+codes"\n\t\t\t\t title="Login is required to edit (reserved for Eurostat and accredited contributors)" accesskey="o" \t\t\t\t>log in</a></li>\n\t\t\t\t\t <li class="login-icon"></li>\n\t\t</ul>\n\n\t<div class="heading">\n\t\t<!--<div class="statexp-small hidden-lg hidden-md">Statistics Explained</div>-->\n\t\t\t\t<div class="lighthouse articles visible-lg-block"></div>\n\t\t\n\t\t<div class="links hidden-xs hidden-sm">\n\t\t<ul class="list-inline">\n      \n\n<li class="lang-selector hidden-xs hidden-sm">\n<div class="dropdown">\n   <button id="lang-selector" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\n    <a href="https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Country_codes">English</a>    <span class="caret"></span>\n  </button>\n  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">\n\n\t\t\t\t<li><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Country_codes/de">Deutsch</a></li>\n\t\t\t\t<li><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Country_codes/fr">fran\xc3\xa7ais</a></li>\n  </ul>\n\n</div>\n\n</li>\n\n\t\t\t</ul>\n\n\t\t</div>\n\t\t<!----\n\t\t<div class="eurostat">eurostat</div>\n\t\t<div class="statexp">Statistics Explained</div>\n\t\t<!---->\n\t\t<a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Main_Page"><div class="statexptitle"></div></a>\n    <div class="mobile-header-buttons hidden-md hidden-lg">\n      <button id="mobile-menu-button" class="bt-open">\n        <span class="glyphicon glyphicon-align-justify icon-show"></span>\n      <span class="glyphicon glyphicon-remove icon-hide"></span>\n    </button>\n    <button id="mobile-search-button" class="bt-open">\n      <span class="glyphicon glyphicon-search icon-show"></span>\n      <span class="glyphicon glyphicon-remove icon-hide"></span>\n    </button>\n</div>\n        <!---->\n\t\t<div class="search-box hidden-xs hidden-sm">\n<form class="form-inline" action="/eurostat/statistics-explained/index.php" id="searchform">\n<input type=\'hidden\' name="title" value="Special:Search"/>\n  <div class="form-group">\n    <div class="input-group">\n      <input type="search" name="search" placeholder="Search" title="Search Statistics Explained [f]" accesskey="f" id="searchInput" class="form-control search-field" />      <span class="input-group-btn">\n        \t   <button type="submit" id="mw-searchButton" class="btn search-btn search-general">\n\t   \t\t<span class="glyphicon glyphicon-search" aria-hidden="true"></span>\n\t   </button>\n      </span>\n    </div>\n  </div>\n</form>\n</div>\n\n\n\t\t\n\t</div>\n\t      <div class="row hidden-xs hidden-sm">\n        <div class="col-lg-12  " id="menu-bar-container">\n          <div class="row menu-bar-container">\n          <div class="col-lg-4 col-md-4 head-menu-bar">\n          <div class="dropdown">\n            <button class="btn btn-default dropdown-toggle" type="button" id="p-navigation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\n               Navigation              <span class="caret"></span>\n            </button>\n                        \t\t\t<ul class="dropdown-menu" aria-labelledby="Navigation">\n            \n            \t\t\t\t<li id="n-Home"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Main_Page">Main page</a></li>\n            \n            \t\t\t\t<li id="n-Statistical-themes"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Statistical_themes">Statistical themes</a></li>\n            \n            \t\t\t\t<li id="n-Glossary"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Thematic_glossaries">Glossary</a></li>\n            \n            \t\t\t\t<li id="n-Categories"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Special:Categories">Categories</a></li>\n            \n            \t\t\t\t<li id="n-Statistics-4-beginners"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Beginners:Statistics_4_beginners">Statistics 4 beginners</a></li>\n            \n            \t\t\t\t<li id="n-Tutorials"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Tutorial:Help_for_readers&#10;">Tutorials</a></li>\n            \n            \t\t\t\t<li id="n-help"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Help:Contents" rel="nofollow" title="The place to find out">Help</a></li>\n            \n            \t\t\t\t<li id="n-Eurostat-home"><a href="http://ec.europa.eu/eurostat/" rel="nofollow">Eurostat home</a></li>\n            \n            \t\t\t\t<li id="n-Contact-Eurostat"><a href="http://ec.europa.eu/eurostat/help/support" rel="nofollow">Contact Eurostat</a></li>\n                        \t\t\t</ul>\n            \n          </div>\n        </div>\n\n    <div class="col-lg-4 col-md-4 head-menu-bar">\n          <div class="dropdown">\n            <button class="btn btn-default dropdown-toggle" type="button" id="p-m-onlinepub" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\n               Online publications              <span class="caret"></span>\n            </button>\n                        \t\t\t<ul class="dropdown-menu" aria-labelledby="Online publications">\n            \n            \t\t\t\t<li id="n-Regional-yearbook"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Eurostat_regional_yearbook">Regional yearbook</a></li>\n            \n            \t\t\t\t<li id="n-The-EU-in-the-world"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/The_EU_in_the_world">The EU in the world</a></li>\n            \n            \t\t\t\t<li id="n-Multilingual-articles"><a href="/eurostat/statistics-explained/index.php?title=Multilingual_articles">Multilingual articles</a></li>\n            \n            \t\t\t\t<li id="n-Other-publications"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Online publications">Full list</a></li>\n                        \t\t\t</ul>\n            \n          </div>\n        </div>\n\n    <div class="col-lg-4 col-md-4 head-menu-bar">\n          <div class="dropdown">\n            <button class="btn btn-default dropdown-toggle" type="button" id="p-TOOLBOX" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\nTools               <span class="caret"></span>\n            </button>\n                        \t\t\t<ul class="dropdown-menu" aria-labelledby="">\n                      \t\t\t<li id="t-whatlinkshere"><a href="/eurostat/statistics-explained/index.php?title=Special:WhatLinksHere/Glossary:Country_codes" title="A list of all wiki pages that link here [j]" accesskey="j">What links here</a></li>          \t\t\t          \t\t\t<li id="t-specialpages"><a href="/eurostat/statistics-explained/index.php?title=Special:SpecialPages" title="A list of all special pages [q]" accesskey="q">Special pages</a></li>          \t\t\t          \t\t\t          \t\t\t            \t\t\t</ul>\n            \n          </div>\n        </div>\n\n      </div>\n   </div>\n  </div>\n\t</div>\n<div class="row hidden-md hidden-lg">\n  <div class="col-sm-12 col-xs-12 mobile-search">\n    <div class="search-box search-box-mobile hidden-md hidden-lg">\n<form class="form-inline" action="/eurostat/statistics-explained/index.php" id="searchform">\n<input type=\'hidden\' name="title" value="Special:Search"/>\n  <div class="form-group">\n    <div class="input-group">\n      <input type="search" name="search" placeholder="Search" title="Search Statistics Explained [f]" accesskey="f" id="searchInput" class="form-control search-field" />      <span class="input-group-btn">\n        <button type="submit" id="mw-searchButton" class="btn search-btn search-general">\n        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>\n     </button>\n      </span>\n    </div>\n  </div>\n</form>\n</div>\n\n  </div>\n  <div class="col-sm-12 col-xs-12 mobile-menu">\n        <div class="col-lg-4 col-md-4 head-menu-bar">\n          <div class="dropdown">\n            <button class="btn btn-default dropdown-toggle" type="button" id="p-navigation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\n               Navigation              <span class="caret"></span>\n            </button>\n                        \t\t\t<ul class="dropdown-menu" aria-labelledby="Navigation">\n            \n            \t\t\t\t<li id="n-Home"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Main_Page">Main page</a></li>\n            \n            \t\t\t\t<li id="n-Statistical-themes"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Statistical_themes">Statistical themes</a></li>\n            \n            \t\t\t\t<li id="n-Glossary"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Thematic_glossaries">Glossary</a></li>\n            \n            \t\t\t\t<li id="n-Categories"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Special:Categories">Categories</a></li>\n            \n            \t\t\t\t<li id="n-Statistics-4-beginners"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Beginners:Statistics_4_beginners">Statistics 4 beginners</a></li>\n            \n            \t\t\t\t<li id="n-Tutorials"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Tutorial:Help_for_readers&#10;">Tutorials</a></li>\n            \n            \t\t\t\t<li id="n-help"><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Help:Contents" rel="nofollow" title="The place to find out">Help</a></li>\n            \n            \t\t\t\t<li id="n-Eurostat-home"><a href="http://ec.europa.eu/eurostat/" rel="nofollow">Eurostat home</a></li>\n            \n            \t\t\t\t<li id="n-Contact-Eurostat"><a href="http://ec.europa.eu/eurostat/help/support" rel="nofollow">Contact Eurostat</a></li>\n                        \t\t\t</ul>\n            \n          </div>\n        </div>\n\n    <div class="col-lg-4 col-md-4 head-menu-bar">\n          <div class="d

In [192]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(site.content, 'html.parser')

In [196]:
[type(item) for item in list(soup.children)]
html = list(soup.children)[2]
body = list(html.children)[3]

In [180]:
pd.read_html(url)

[          0     1        2     3            4     5         6     7
 0   Belgium  (BE)   Greece  (EL)    Lithuania  (LT)  Portugal  (PT)
 1  Bulgaria  (BG)    Spain  (ES)   Luxembourg  (LU)   Romania  (RO)
 2   Czechia  (CZ)   France  (FR)      Hungary  (HU)  Slovenia  (SI)
 3   Denmark  (DK)  Croatia  (HR)        Malta  (MT)  Slovakia  (SK)
 4   Germany  (DE)    Italy  (IT)  Netherlands  (NL)   Finland  (FI)
 5   Estonia  (EE)   Cyprus  (CY)      Austria  (AT)    Sweden  (SE)
 6   Ireland  (IE)   Latvia  (LV)       Poland  (PL)       NaN   NaN,
                 0     1   2
 0  United Kingdom  (UK) NaN,
                0     1   2            3     4
 0        Iceland  (IS) NaN       Norway  (NO)
 1  Liechtenstein  (LI) NaN  Switzerland  (CH),
                  0     1
 0       Montenegro  (ME)
 1  North Macedonia  (MK)
 2          Albania  (AL)
 3           Serbia  (RS)
 4           Turkey  (TR),
                         0        1
 0  Bosnia and Herzegovina     (BA)
 1              Kosovo*[1]  (XK[2]),
             0     1   2        3     4   5        6     7
 0     Armenia  (AM) NaN  Belarus  (BY) NaN  Georgia  (GE)
 1  Azerbaijan  (AZ) NaN  Moldova  (MD) NaN  Ukraine  (UA),
          0     1   2               3     4   5        6     7
 0  Algeria  (DZ) NaN         Lebanon  (LB) NaN    Syria  (SY)
 1    Egypt  (EG) NaN           Libya  (LY) NaN  Tunisia  (TN)
 2   Israel  (IL) NaN         Morocco  (MA) NaN      NaN   NaN
 3   Jordan  (JO) NaN  Palestine* [3]  (PS) NaN      NaN   NaN,
         0     1
 0  Russia  (RU),
           0     1   2                         3          4   5            6   \
 0  Argentina  (AR) NaN  China (except Hong Kong)  (CN_X_HK) NaN       Mexico
 1  Australia  (AU) NaN                 Hong Kong       (HK) NaN      Nigeria
 2     Brazil  (BR) NaN                     India       (IN) NaN  New Zealand
 3     Canada  (CA) NaN                     Japan       (JP) NaN    Singapore

      7   8              9     10
 0  (MX) NaN   South Africa  (ZA)
 1  (NG) NaN    South Korea  (KR)
 2  (NZ) NaN         Taiwan  (TW)
 3  (SG) NaN  United States  (US)  ]

In [197]:
import re

In [198]:
soup = BeautifulSoup(page.content, 'html.parser')
list=soup.find_all('td')
a=len(list)
dictionary={}
lista=[]
for i in range (a):
    w=soup.find_all('td')[i].get_text()
    ws= re.sub("\n", "", w)
    wws=re.sub(" ","",ws)
    if len(ws)>=4:
        print(ws)
        lista.append(wws)
    else:
        pass

Belgium
(BE)
Greece
(EL)
Lithuania
(LT)
Portugal
(PT)
Bulgaria
(BG)
Spain
(ES)
Luxembourg
(LU)
Romania
(RO)
Czechia
(CZ)
France
(FR)
Hungary
(HU)
Slovenia
(SI)
Denmark
(DK)
Croatia
(HR)
Malta
(MT)
Slovakia
(SK)
Germany
(DE)
Italy
(IT)
Netherlands
(NL)
Finland
(FI)
Estonia
(EE)
Cyprus
(CY)
Austria
(AT)
Sweden
(SE)
Ireland
(IE)
Latvia
(LV)
Poland
(PL)
 United Kingdom
 (UK)
 Iceland
 (IS)
 Norway
 (NO)
 Liechtenstein
 (LI)
 Switzerland
 (CH)
 Montenegro
 (ME)
 North Macedonia
 (MK)
 Albania
 (AL)
Serbia
 (RS)
 Turkey
 (TR)
 Bosnia and Herzegovina
 (BA)
 Kosovo*[1]
 (XK[2])
 Armenia
 (AM)
 Belarus
 (BY)
 Georgia
 (GE)
 Azerbaijan
 (AZ)
 Moldova
 (MD)
 Ukraine
 (UA)
 Algeria
 (DZ)
 Lebanon
 (LB)
 Syria
 (SY)
 Egypt
 (EG)
 Libya
 (LY)
 Tunisia
 (TN)
 Israel
 (IL)
 Morocco
 (MA)
 Jordan
 (JO)
 Palestine* [3]
 (PS)
 Russia
 (RU)
Argentina
(AR)
China (except Hong Kong)
(CN_X_HK)
Mexico
(MX)
South Africa
(ZA)
Australia
(AU)
Hong Kong
(HK)
Nigeria
(NG)
South Korea
(KR)
Brazil
(BR)
India
(IN)
New Zealand
(NZ)
Taiwan
(TW)
Canada
(CA)
Japan
(JP)
Singapore
(SG)
United States
(US)

In [200]:
lista

['Belgium',
 '(BE)',
 'Greece',
 '(EL)',
 'Lithuania',
 '(LT)',
 'Portugal',
 '(PT)',
 'Bulgaria',
 '(BG)',
 'Spain',
 '(ES)',
 'Luxembourg',
 '(LU)',
 'Romania',
 '(RO)',
 'Czechia',
 '(CZ)',
 'France',
 '(FR)',
 'Hungary',
 '(HU)',
 'Slovenia',
 '(SI)',
 'Denmark',
 '(DK)',
 'Croatia',
 '(HR)',
 'Malta',
 '(MT)',
 'Slovakia',
 '(SK)',
 'Germany',
 '(DE)',
 'Italy',
 '(IT)',
 'Netherlands',
 '(NL)',
 'Finland',
 '(FI)',
 'Estonia',
 '(EE)',
 'Cyprus',
 '(CY)',
 'Austria',
 '(AT)',
 'Sweden',
 '(SE)',
 'Ireland',
 '(IE)',
 'Latvia',
 '(LV)',
 'Poland',
 '(PL)',
 'UnitedKingdom',
 '(UK)',
 'Iceland',
 '(IS)',
 'Norway',
 '(NO)',
 'Liechtenstein',
 '(LI)',
 'Switzerland',
 '(CH)',
 'Montenegro',
 '(ME)',
 'NorthMacedonia',
 '(MK)',
 'Albania',
 '(AL)',
 'Serbia',
 '(RS)',
 'Turkey',
 '(TR)',
 'BosniaandHerzegovina',
 '(BA)',
 'Kosovo*[1]',
 '(XK[2])',
 'Armenia',
 '(AM)',
 'Belarus',
 '(BY)',
 'Georgia',
 '(GE)',
 'Azerbaijan',
 '(AZ)',
 'Moldova',
 '(MD)',
 'Ukraine',
 '(UA)',
 'Algeria',
 '(DZ)',
 'Lebanon',
 '(LB)',
 'Syria',
 '(SY)',
 'Egypt',
 '(EG)',
 'Libya',
 '(LY)',
 'Tunisia',
 '(TN)',
 'Israel',
 '(IL)',
 'Morocco',
 '(MA)',
 'Jordan',
 '(JO)',
 'Palestine*[3]',
 '(PS)',
 'Russia',
 '(RU)',
 'Argentina',
 '(AR)',
 'China(exceptHongKong)',
 '(CN_X_HK)',
 'Mexico',
 '(MX)',
 'SouthAfrica',
 '(ZA)',
 'Australia',
 '(AU)',
 'HongKong',
 '(HK)',
 'Nigeria',
 '(NG)',
 'SouthKorea',
 '(KR)',
 'Brazil',
 '(BR)',
 'India',
 '(IN)',
 'NewZealand',
 '(NZ)',
 'Taiwan',
 '(TW)',
 'Canada',
 '(CA)',
 'Japan',
 '(JP)',
 'Singapore',
 '(SG)',
 'UnitedStates',
 '(US)']